.button{
  padding: 2px;
  font-size: 10px;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  transition: background .3s;
}

.button:hover{
  background: rgb(62, 63, 64);
  color: #e2e2e4;
}