.conteiner{
  background-color: #2a2a2a;
  color: #e2e2e4;
  
  

  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.section{
  background: #151516;
  box-shadow: 1px 1px 4px black;
  border-radius: .8rem;

  

  padding: 20px 30px;

  width: 78vw;
  height: 76vh;
  
  position: relative;

}

.buttonC{
  position: absolute;
  bottom: 1.2rem;
  width: 88%;
  display: flex;
  justify-content: space-between;

}

.image{
  width: 180px;
  border-radius: 8px;
  margin: 1rem auto;
}