.conteiner{
  background-color: rgb(182, 237, 236);
  
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.section{
  background: #e2e2e4;
  box-shadow: 1px 1px 4px black;
  border-radius: 8px;

  width: 76vw;
  height: 76vh;
  
  position: relative;

  padding: 10px;
}

.buttonC{
  position: absolute;
  bottom: 10px;
  width: 94%;
  display: flex;
  justify-content: space-between;

}

.image{
  width: 170px;
  border-radius: 8px;
  margin: 4px ;
}