.section{
  background-color: rgb(80, 82, 124);
  box-shadow: 1px 1px 4px #150909;
  width: 92%;
  max-width: 900px;
  min-height: 75vh;

  margin: auto;
  border-radius: 10px;
  padding: 6px 0;

  display: flex;
  flex-flow: row wrap;
  gap: 6px;
  justify-content: center;
  

  overflow-y: hidden;
}

.cardGame{
  background-color: #e3e2e1;
  width: 30%;
  height: 160px;


  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding: 6px;
  border-radius: 8px;
}

.cardGame img{
  width: 88px;
  object-fit: contain;
  border-radius: 4px;
}

.cardGame p{
  font-weight: 600;
  font-size: 12px;
}

.article{
  width: 90%;
  position: absolute;
  bottom: 2px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.valor{
  margin-top: 6px;
  
}
