.header{
  width: 100vw;
  height: 120px;
  
  padding: 8px 20px;

  background-color: #151516;
  color: #e2e2e4;
}

.headerContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 98%;
  
}

.headerContent h1{
  border-bottom: 1px solid;
  width: 160px; 
  text-align: center;
}


.cart{
  position: absolute;
  right: 10px;
  top: 20px;


  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 12px;
}

.cartValue{
  padding-left:20px;
}



.input{
  width: 60%;
  height: 34px;
  margin: 30px auto 0;

  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid;

  background: #2a2a2a;
  color: #e2e2e4;

  outline: none;
}